.download {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.download a {
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 17px;
    width: 230px;
    text-align: center;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.download a:hover {
    opacity: 80%;
}

.download .ios {
    background-color: var(--strong);
}

.download .mac {
    background-color: var(--light);
}

@media (max-width: 680px) {
    .download {
        flex-direction: column;
        gap: 20px;
    }

    .download a {
        width: 300px;
    }
}