header>div,
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
section {
    margin-bottom: 150px;
}

section>div {
    margin-top: 80px;
    display: flex;
    gap: 100px;
}

h1,
h2,
h3 {
    color: var(--font-dark);
}

h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 2.4rem;
    margin: 50px 0 10px;
}

h3~p {
    font-size: 1.6rem;
}

p {
    line-height: 30px;
}

.text {
    width: 700px;
    text-align: center;
}