header {
    background: url(../images/bg-header-desktop.png) no-repeat;
    background-size: 100% 70%;
    text-align: center;
    padding-top: 130px;
}

header h1 {
    font-size: 4.5rem;
    margin: 50px 0 20px;
}

header .text {
    font-size: 2rem;
}

.computer {
    position: relative;
    height: 572px;
    width: 700px;
}

.computer img{
    position: absolute;
    right: 10px;
}

.snippets {
    width: 350px;
    margin-right: 190px;
}

.snippets h3:first-child {
    margin-top: 65px;
}

.clipboard img {
    margin-top: 100px;
}

.tools {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tools .tool {
    text-align: center;
    width: 350px;
}

.pages{
    display: flex;
    align-items: center;
}