header {
    /* height: 100vh; */
    background: url(../images/bg-header-desktop.png) no-repeat;
    background-size: 100% 70%;
    text-align: center;
    padding-top: 130px;
}

header h1 {
    font-size: 4.5rem;
    margin: 50px 0 20px;
}

header .text {
    font-size: 2rem;
}

header .download {
    display: flex;
    gap: 16px;
    margin: 48px;
}

header .download a {
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 17px 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

header .download a:hover {
    opacity: 80%;
}

header .download .ios {
    background-color: var(--strong);
}

header .download .mac {
    background-color: var(--light);
}

/* ------------SNIPPETS-------------- */

section h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

section>div {
    margin-top: 80px;
    width: 1440;
    display: flex;
    gap: 110px;
}

section .snippets {
    width: 350px;
    margin-right: 290px;
}

section .snippets h3{
    font-size: 2.4rem;
    margin: 55px 0 10px;
}

section .snippets h3:first-child{
    margin-top: 65px;
}

section .snippets p{
    font-size: 1.6rem;
    font-weight: 600;
}